* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }

body {
    height: 100vh;
    padding: 10px;
    width: 100vw;
}

.container {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 700px;
    height: 700px;
    border: 5px solid navy;
    border-radius: 32px;
    padding: 16px;
    margin: 32px auto;
}

.row {
    align-items: stretch;
    display: flex;
    flex: 1 1 700px;
    justify-content: space-between;
}

.tile {
    flex: 1 1 700px;
}

.black {
    background-color: black;
}

button {
    display: block;
    margin: 16px auto;
    box-sizing: border-box;
    height: 24px;
    width: 150px;
    padding: auto
}